.igc-viewer-container {
  width: 100%;
  margin: 0;
  margin-bottom: var(--gap);
  padding: 0;
  overflow: hidden;
  position: relative;
}

html:has(#igc-viewer-full-screen:checked){
  overflow: hidden;
}

.igc-viewer-container:has(#igc-viewer-full-screen:checked)
{
position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
}

.igc-viewer-container:has(#igc-viewer-full-screen:checked) > .cesium-container {
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
  border-radius: 0;
}

.igc-viewer-container > .cesium-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: var(--radius);
}

@media (max-aspect-ratio: 1/1) {
  .igc-viewer-container > .cesium-container {
    aspect-ratio: auto;
    height: 90svh;
  }
}

.cesium-widget-credits {
  display: flex !important;
  flex-direction: column;
}

.cesium-widget-credits img, .cesium-widget-credits a {
  margin: 0;
  padding:0 !important;
  box-shadow: none !important;
}

.igc-viewer-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-color: rgba(42, 42, 42, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: right;
}
