{{ $igcFileSrc := .Get "track" }}
{{ $id := .Get "id" }}
{{ $css := resources.Get "igc-viewer.css" | minify | fingerprint }} 
{{ $js := resources.Get "igc-viewer.js" | minify | fingerprint }}
<link
  rel="stylesheet"
  href="{{ $css.RelPermalink }}"
  integrity="{{ $css.Data.Integrity }}"
/>
<link
  href="https://cesium.com/downloads/cesiumjs/releases/1.117/Build/Cesium/Widgets/widgets.css"
  rel="stylesheet"
/>
<script src="https://cesium.com/downloads/cesiumjs/releases/1.117/Build/Cesium/Cesium.js"></script>

<script
  src="{{ $js.RelPermalink }}"
  integrity="{{ $js.Data.Integrity }}"
  defer
></script>

<script>
  async function initializeViewer() {
    await window.initIgcViewer({
      targetElementId: "{{ $id }}",
      igcFileUrl: "{{ $igcFileSrc }}",
    });
  }

  document.addEventListener("DOMContentLoaded", initializeViewer);
</script>

<div id="{{ $id }}" class="igc-viewer-container">
  <div class="cesium-container"></div>
  <div class="igc-viewer-controls">
    <label for="igc-viewer-full-screen">Fullscreen</label>
    <input type="checkbox" id="igc-viewer-full-screen" />
    <div class="igc-viewer-infobox">
      Altitude: --- m<br />
      Speed: --- km/h<br />
      Distance: --- km
    </div>
  </div>
</div>
